*{
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	margin: 0;
	padding: 0;
}
body,html{
	margin:0;
	padding:0;
	-webkit-user-select: none;
	user-select: none;
	/*color: #fff;*/
	background: #fff;
	font:10px/1.5 helvetica,arial,"Microsoft Yahei";
}
div{
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
   user-select: none;
}
a{
	text-decoration: none;
}
ul,ol,li,dl,dd,dt{
	list-style: none;
}
h1,h2,h3,h4,h5,h6,strong,span,i{
	font-size:inherit; 
	font-weight:normal;
}
.clearfix{
	zoom:1;
}
.clearfix:before,.clearfix:after{
	content:"";
	display: block;
	overflow: hidden;
	height:0;
	line-height: 0;
	clear: both;
	visibility:hidden; 
}
img{
	width: 100%;
	display: block;
}
input,select {
	-webkit-appearance:none;
	outline: none;
}
#wrap {
	width: 100%;
}
