html,body{
  height: 100%;
}
.wrap{
  height: 100%;
	margin: 0 auto;
	color: #999;
}
/*订单空*/
#order_nothing,#orderList{
  height: 100%;
  text-align: center;
  background-color: #f4f4f4;
}
#order_nothing:before{
  content:"";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
#order_nothing .nothingBox{
  position: relative;
  top: -14%;
  display: inline-block;
  vertical-align: middle; 
  float: none;
}
/*order图标*/
#order_nothing .orderIcon{
  display: inline-block;
  margin-bottom:1%;
  float: none;
}
/*文字说明_nothing*/
.nothingBox p{
  font-size: 0.8rem;
}
.nothingBox p a{
  color:#f65f15;
}
/*订单列表*/
/*.list-block{
  margin:0;
}*/
.list-container{
  margin-bottom: 16px;
}
/*卡片*/
.card{
  margin:0.5rem 0 0;
  padding:0 0.8rem;
}
/*卡头*/
.card-header{
  padding:0.5rem;
  font-size: 14px;
}
/*卡片内容*/
.card-content-inner{
  padding:0.5rem;
}
/*卡脚*/
.card-footer{
   min-height:0;
   padding:0;
}
.code,.status,.quantity{
  color: #333;
}
/*订单号*/
.codeBox{
  float: left;
}
/*交易状态*/
.statusBox{
  float: right;
}
/*滤网图片*/
.netImg{
  /*width: 80px;*/
  max-width: 140px !important;
  display: inline-block;
  vertical-align: middle;
}
.card-content-inner div{
display: inline-block;
  vertical-align: middle;
  margin-left: 4%;
  width: 62%;
}
.card-content-inner div p{
  margin: 1em 0 0;
}
/*滤网名称*/
h2{
  font-size: 0.8rem;
  color: #333;
  font-weight: 400;
}
.config{
  font-size: 10px;
}
/*购买数量*/
.quantityBox{
  float: left;
}
/*购买合计金额*/
.amountBox{
  float: right;  
}
.amount{
  color:#f65f15;
}


